<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Sign in & Sign up Form</title>
    <style>
        body {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 min-height: 100vh;
        }
 .radio {
	 margin: 0.5rem;
}
 .radio input[type="radio"] {
	 position: absolute;
	 opacity: 0;
}
 .radio input[type="radio"] + .radio-label:before {
	 content: '';
	 background: #f4f4f4;
	 border-radius: 100%;
	 border: 1px solid #b4b4b4;
	 display: inline-block;
	 width: 1.4em;
	 height: 1.4em;
	 position: relative;
	 top: -0.2em;
	 margin-right: 1em;
	 vertical-align: top;
	 cursor: pointer;
	 text-align: center;
	 transition: all 250ms ease;
}
 .radio input[type="radio"]:checked + .radio-label:before {
	 background-color: #3197ee;
	 box-shadow: inset 0 0 0 4px #f4f4f4;
}
 .radio input[type="radio"]:focus + .radio-label:before {
	 outline: none;
	 border-color: #3197ee;
}
 .radio input[type="radio"]:disabled + .radio-label:before {
	 box-shadow: inset 0 0 0 4px #f4f4f4;
	 border-color: #b4b4b4;
	 background: #b4b4b4;
}
 .radio input[type="radio"] + .radio-label:empty:before {
	 margin-right: 0;
}
 
    </style>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/login" method = "post" class="sign-in-form">
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name = "username" placeholder="Username" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name = "password" placeholder="Password" />
                    </div>
                    <input type = "submit" value = "LOGIN" class="btn solid" style="padding: 13px 40px; text-align: center; text-decoration:none;">
                </form>
                <form action="/register" method = "post" class="sign-up-form">
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name = "username" placeholder="Username" />
                    </div>
                    <!-- <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" />
          </div> -->
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name = "password" placeholder="Password" />
                    </div>
                    <div>
                        <div class="radio" style = "display: inline-block; margin-right: 20px;">
                            <input id="radio-1" name="userType" type="radio" value = "teacher">
                            <label for="radio-1" class="radio-label" style = "display: inline-block; margin-right: 20px;">Teacher</label>
                          </div>
                        
                          <div class="radio" style = "display: inline-block; margin-right: 20px;">
                            <input id="radio-2" name="userType" type="radio" value = "student">
                            <label  for="radio-2" class="radio-label" style = "display: inline-block; margin-right: 20px;">Student</label>
                          </div>
                    </div>
                    <br>
                    <div>
                        <div class="radio" style = "display: inline-block; margin-right: 10px;">
                            <input id="radio-3" name="disType" type="radio" value = "deaf">
                            <label for="radio-3" class="radio-label" style = "display: inline-block; margin-right: 10px;">Deaf</label>
                          </div>
                        
                          <div class="radio" style = "display: inline-block; margin-right: 10px;">
                            <input id="radio-4" name="disType" type="radio" value = "blind">
                            <label  for="radio-4" class="radio-label" style = "display: inline-block; margin-right: 10px;">Blind</label>
                          </div>

                          <div class="radio" style = "display: inline-block; margin-right: 10px;">
                            <input id="radio-5" name="disType" type="radio" value = "other">
                            <label  for="radio-5" class="radio-label" style = "display: inline-block; margin-right: 10px;">Other</label>
                          </div>
                    </div>
                    <input type = "submit" value = "SIGN UP" class="btn solid" style="padding: 13px 40px; text-align: center; text-decoration:none;">
                </form>
            </div>
        </div>

        <div class="panels-container">
      <div class=" panel left-panel">
            <div class="content" id="textToRead">
                <h3>Welcome back</h3>
                <p>
                    <span style="opacity: 0;">If your new here do register Click 'r' to register else press 'u' to enter
                        your
                        username and 'p' to enter your password</span>
                </p>
                <button class="btn transparent" id="sign-up-btn">
                    Register
                </button>
            </div>
            <img src="img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
            <div class="content" id="textToRead">
                <h3>Welcome, we're glad to have you here!</h3>
                <p>
                    Knowability is a platform committed to empowering differently-abled individuals through education,
                    community support, interactive games, and quizzes designed for self-assessment.
                    <span style="opacity: 0;">Press 'u' to enter your username and 'p' to enter your password</span>
                </p>
                <button class="btn transparent" id="sign-in-btn">
                    Sign in
                </button>
            </div>
            <img src="img/register.svg" class="image" alt="" />
        </div>
    </div>
    </div>
    <script src="scripts.js"></script>
    <script src="app.js"></script>
</body>

</html>